
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;
 


 $image:url("../../../miguel.jpg") no-repeat fixed;
 $color-letra:white;
 $fondo-letra:-webkit-linear-gradient(top, #4387fd, #4683ea40);
 $style-letra: oblique;
