 html, body {
                background: $image ;
                background-size: cover; 
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 110px;
                background: $fondo-letra ;
                border-radius: 30px;
                color: $color-letra;
                font-family: 'Paytone One', sans-serif;
                text-shadow:-27px 11px 8px #000;
            }

            .links > a {
               
                padding: 0 25px;
               
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
               
                border-radius: 1px;
                font-size: 20px;
                background: rgba(0, 167, 40, 0.59);
                color: white;
                font-family: 'Paytone One', sans-serif;
                 transition: all 0.5s;

            }
            a:hover{
                 
                text-decoration: none !important;
                color: #78281F !important;
                text-shadow: -9px 10px 2px #000 !important;
            }
        

            .m-b-md {
                margin-bottom: 30px;
            }